<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title cor-forte titulo-card">{{ titulo }}</h5>
      <p class="card-text cor-principal">{{ texto }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    titulo: {
      type: String,
      default: ''
    },
    texto: {
      type: String,
      default: ''
    }

  }
}
</script>

<style scoped>
  .card{
    margin-top: 30px;
    margin-bottom: 60px;
    min-height: 200px;
  }
  .titulo-card {
    border-bottom: 2px solid;
    padding-bottom: 8px;
    text-align: center;
  }
</style>
