<template>
  <div class="col-md-4 col-xs-6 thumb">
    <a v-b-modal = nome
      :data-image="require(`@/assets/${imagem}`)">
      <img class="img-thumbnail"
        :src="require(`@/assets/${imagem}`)"
        :alt="nome">
    </a>

    <!-- Modal Component -->
    <b-modal :id="nome" hide-footer hide-header>
      <div class="modal-body">
        <img id="image-gallery-image" class="img-responsive col-md-12"
        :src="require(`@/assets/${imagem}`)">
        <p class="cor-principal descricao-modal">
          <b class="cor-principal">{{ nome }}</b>
          {{ descricao }}
        </p>
      </div>
    </b-modal>
  </div>
</template>

<script>

export default {
  name: 'ItemGaleria',
  props: {
    nome: {
      type: String,
      default: ''
    },
    descricao: {
      type: String,
      default: ''
    },
    imagem: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    cont: 1
  }),

  methods: {
    proximaFoto () {
      if (this.cont < 3) {
        // faça
      }
    }
  }
}
</script>

<style scoped>
  .img-thumbnail {
    margin-bottom: 20px;
  }
  .img-thumbnail:hover {
    transform: scale(1.1);
  }
  .descricao-modal {
    margin-top: 20px;
  }
</style>
