<template>
  <div class="menu-superior">
    <nav class="nav nav-pills">
      <router-link class="nav-link" :to="{ name: 'Inicio' }">
        Inicio
      </router-link>
      <router-link class="nav-link" :to="{ name: 'Consulta' }">
        Consulta
      </router-link>
      <router-link class="nav-link" :to="{ name: 'Historia' }">
        História
      </router-link>
      <router-link class="nav-link" :to="{ name: 'Galeria' }">
        Galeria
      </router-link>
    </nav>
    <div class="div-img">
      <img class="bd-example img-fluid" src="@/assets/carro_principal.jpg" alt="Carro Principal">
    </div>
    <!-- Cor do carro na imagem #7f9e99 -->
    </div>
</template>

<script>
export default {
  name: 'MenuSuperior'
}
</script>

<style scoped>
nav{
  margin-right: 0px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
}
img{
  /* position: absolute; */
  width: 100%;
}
@media (max-width: 768px){
  img {
    height: 300px;
  }
}
a{
  width: 25%;
  color: #CDFFF7 !important;
}
a:hover {
  color: #407F75 !important;
}
.router-link-active {
  background-color: #7f9e99;
}
.div-img{
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.menu-superior{
  margin-bottom: 30px;
}
</style>
