<template>
<section>
  <menu-superior/>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="cor-principal">Consulta</h3>
        <p class="cor-principal" ><b> Realize a consulta da tabela Fipe: </b></p>

        <div id="consulta">
          <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select v-model="tipo" @change="buscarMarcas()" class="form-control" name="tipo" id="tipo-veiculo">
              <option value="carros">carros</option>
              <option value="motos">motos</option>
              <option value="caminhoes">caminhoes</option>
            </select>
          </div>

          <div class="form-group">
            <label for="marca">Marca:</label>
            <select v-model="marcaSelecionada" @change="buscarModelos()" class="form-control" name="tipo" id="tipo-veiculo">
              <option
                v-for="(marca, key) in marcas"
                :key="key"
                :value="marca.id">
                  {{ marca.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="modelo">Modelo:</label>
            <select v-model="modeloSelecionado" @change="buscarAnoModelo()" class="form-control" name="tipo" id="tipo-veiculo">
              <option
                v-for="(modelo, key) in modelos"
                :key="key"
                :value="modelo.id">
                  {{ modelo.name }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="anoModelo">Ano Modelo:</label>
            <select v-model="modeloAnoSelecionado" @change="buscarCarro()" class="form-control" name="tipo" id="tipo-veiculo">
              <option
                v-for="(ano, key) in modeloAnos"
                :key="key"
                :value="ano.id">
                  {{ ano.name }}
              </option>
            </select>
          </div>

          <div v-if="automovelSelecionado" class="card">
            <div class="card-body">
              <h5 class="card-title cor-forte">{{ automovelSelecionado.veiculo }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ automovelSelecionado.preco }}</h6>
              <p class="card-text cor-principal">
                {{ automovelSelecionado.marca }}
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import MenuSuperior from '@/components/MenuSuperior.vue'
import axios from 'axios'

const baseUrlFipe = 'http://fipeapi.appspot.com/api/1/'

export default {
  name: 'Consulta',
  components: {
    MenuSuperior
  },
  data: () => ({
    tipo: '',
    marcas: [],
    marcaSelecionada: '',
    modelos: [],
    modeloSelecionado: '',
    modeloAnos: [],
    modeloAnoSelecionado: '',
    automovelSelecionado: '',
    msgErro: {
      interno: '',
      externo: ''
    }
  }),

  methods: {
    buscarMarcas () {
      if (this.tipo !== '') {
        this.marcas = []
        this.marcaSelecionada = ''
        this.modelos = []
        this.modeloSelecionado = ''
        this.modeloAnos = []
        this.modeloAnoSelecionado = ''
        this.automovelSelecionado = ''
        axios.get(baseUrlFipe + this.tipo + '/marcas.json')
          .then((response) => {
            this.marcas = response.data
          })
          .catch(({ response }) => this.erroConsulta(response))
      }
    },

    buscarModelos () {
      if (this.marcaSelecionada !== '') {
        this.modelos = []
        this.modeloSelecionado = ''
        this.modeloAnos = []
        this.modeloAnoSelecionado = ''
        this.automovelSelecionado = ''
        axios.get(baseUrlFipe + this.tipo + '/veiculos/' + this.marcaSelecionada + '.json')
          .then((response) => {
            this.modelos = response.data
          })
          .catch(({ response }) => this.erroConsulta(response))
      }
    },

    buscarAnoModelo () {
      if (this.modeloSelecionado !== '') {
        this.modeloAnos = []
        this.modeloAnoSelecionado = ''
        this.automovelSelecionado = ''
        axios.get(baseUrlFipe + this.tipo + '/veiculo/' +
                  this.marcaSelecionada + '/' + this.modeloSelecionado + '.json')
          .then((response) => {
            this.modeloAnos = response.data
          })
          .catch(({ response }) => this.erroConsulta(response))
      }
    },

    buscarCarro () {
      if (this.modeloAnoSelecionado !== '') {
        this.automovelSelecionado = ''
        axios.get(baseUrlFipe + this.tipo + '/veiculo/' +
                  this.marcaSelecionada + '/' + this.modeloSelecionado + '/' +
                  this.modeloAnoSelecionado + '.json')
          .then((response) => {
            this.automovelSelecionado = response.data
          })
          .catch(({ response }) => this.erroConsulta(response))
      }
    },

    erroConsulta (response) {
      this.msgErro.interno = 'Erro ao realizar consulta, segue detalhes:'
      this.msgErro.externo = response
    }
  }
}
</script>

<style scoped>
  h3 {
    border-bottom: 2px solid;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  #consulta {
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 60px;
  }
  .card {
    border: 2px solid #7f9e99;
  }
</style>
