<template>
  <section>
    <menu-superior/>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="cor-principal">Galeria Clássicos</h3>
        </div>
      </div>

      <div class="row">
        <!-- itens galeria -->
        <item-galeria
          nome="Fusca"
          descricao="um dos carros mais conhecidos e o primeiro sucesso no Brasil"
          imagem="Fusca_galeria.jpg"
        />
        <item-galeria
          nome="Fiat"
          descricao="foi o primeiro carro fabricado pela Fiat."
          imagem="Fiat147_galeria.jpg"
        />
        <item-galeria
          nome="Opala"
          descricao="foi o primeiro automóvel de passeio fabricado pela chevrolet no Brasil."
          imagem="Opala_galeria.jpg"
        />
      </div>

    </div>
</section>
</template>

<script>
import MenuSuperior from '@/components/MenuSuperior.vue'
import ItemGaleria from '@/components/ItemGaleria.vue'

export default {
  name: 'Galeria',
  components: {
    MenuSuperior,
    ItemGaleria
  }
}
</script>

<style scoped>
  h3{
    border-bottom: 2px solid;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
</style>
