<template>
  <section>
    <menu-superior/>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="cor-principal">História</h3>
          <!-- Historia 1 -->
          <div>
            <h5 class="cor-forte">
              Primeiro Carro no Brasil
              <b-btn v-b-toggle.primeiroCarro class="m-1 btn-conteudo btn-sm">Exibir/Esconder</b-btn>
            </h5>
            <b-collapse id="primeiroCarro">
              <b-card>
                <p>O primeiro carro fabricado em série no Brasil foi lançado há 56 anos.
                  Era setembro de 1956 e em uma tradicional indústria de fundição em Santa Bárbara d'Oeste,
                  interior de São Paulo, nascia a Romi-isetta, um modelo de veículo compacto, capaz de transportar
                  dois adultos e uma criança e rodar 25 km com um l de gasolina. A ideia de colocar a Romi-isetta
                  no mercado e transformá-la em um produto popular foi inspiração vinda de veículos europeus
                  da época. A carroceria é pequena com linhas arredondadas e arte final simplista que sugere
                  baixo custo de produção.
                </p>
                <p>O grande diferencial é a única porta na frente do veículo e o cabo do volante que se dobra.
                  O motor transversal tem dimensões enxutas e o modelo oferece um único banco como opção de
                  assento. A velocidade máxima, em linha reta, é de até 85 km/h no veículo que possui quatro
                  marchas e uma ré. O motor tem um cilindro com 300 cilindradas, uso de uma vela de ignição
                  e bateria para alimentação elétrica.
                </p>
                <p>Foram os proprietários da Indústria Romi S/A, uma empresa familiar fundada em 1930 por
                  Américo Emilio Romi e Carlos Chiti, que apostaram na ideia de fazer um carrinho
                  para o mercado brasileiro já ávido por novidades no campo automobilístico. A produção
                  da Romi-Isetta foi encerrada em 1961 com um total de três mil unidades. Hoje apenas 10%
                  ainda resistem e os modelos restantes são encontrados entre colecionadores ou abandonados
                  em alguma oficina aguardando reparos.
                </p>
                <p>Segundo o aposentado Roberto Placido Joaquim, 62 anos, proprietário de uma Romi-Isetta
                  de cor azul clara, esse é o carro nacional cada vez mais raro de ser encontrado principalmente
                  pela falta de interesse dos apaixonados por relíquias motorizadas. "A gente encontra com
                  facilidade gasolina, óleo e ar para o pneu", diz entre risos, o aposentado que dispõe de outra
                  raridade: uma DKW ano 1967 restaurada com maioria de peças genuínas e apta para pegar a estrada.
                  "É cada vez mais comum encontrar pessoas que colecionam modelos americanos e cada vez mais
                  difícil ver a preocupação dos colecionados pelos carros nacionais, os brasileiros", comenta.
                </p>
                <p>Joaquim fala da grande satisfação em ser chamado para expor a velha e a nova Romi, no
                  Campinas Shopping, em Campinas, que até dia 30 deste mês expõe dois modelos ao visitante.
                  Além disso, a exposição conta com painéis com cópias de fotografias da época e recortes
                  de jornais com reportagens do que significou uma promessa para um Brasil que ainda não tinha
                  construído o Distrito Federal, Brasília.
                </p>Segundo o colecionador, a cada ano que passa fica mais complicado encontrar peças de
                  reposição justamente pela raridade que isso significa. Eventos como encontros de donos
                  de carros antigos são oportunidades de fazer contatos com colecionados e garimpar artigos
                  que hoje não são mais fabricados. As redes sociais pela internet também ajudam. "Os pneus já
                  não são fabricados e é preciso importar. Na Índia e China, por exemplo, ainda rodam pequenos carros
                  com esse tamanho de roda", conta.
                <p>"Parece brinquedo" Na abertura da exposição no Campinas Shopping curiosos se aproximavam
                  atentos para os dois modelos. O atendente de SAC Jonny Nogueira e sua mulher Gisele Nogueira
                  são portadores de deficiência visual. Ela perdeu totalmente a visão, mas o marido enxerga
                  relativamente bem. Nogueira pediu autorização para deixar que a mulher tocasse no carro e,
                  assim, pudesse ter uma ideia da proporção e ia descrevendo os detalhes originais das curvas
                  do Romi-Isetta.
                </p>
                <p>"Parece de brinquedo", disse Gisele após a vistoriar com a ponta dos dedos a lataria
                  e alguns pontos do interior do veículo. "É muito interessante. Um veículo para duas pessoas,
                  pequeno ocupa menos espaço, é fácil de manobrar", comentou Nogueira, depois de registrar
                  fotos com o aparelho celular.
                </p>
                <p>O vendedor Marcelo Rocha acha que essa versão de automóvel combina mais em países
                  onde o uso de um modelo de carro não represente um estilo pessoal, mas sim, uma opção
                  barata de ir e vir. "Hoje em dia, o proprietário de um carro assim demostraria ser uma
                  pessoa simples. Parar no semáforo ao lado de um carro maior seria desproporcional", comentou.
                  Para o vendedor, um carro pequeno pode fazer muito sucesso em localidades do mundo como
                  uma forma de transporte popular de baixo custo.
                </p>
                <b>Autora:</b> Rose Mary de Souza
                <br>
                <b>Retirado:</b> terra.com.br
              </b-card>
            </b-collapse>
          </div>
          <!-- Fim Historia 1 -->
          <!-- Historia 2 -->
          <div>
            <h5 class="cor-forte">
              1º Sucesso
              <b-btn v-b-toggle.teste class="m-1 btn-conteudo btn-sm">Exibir/Esconder</b-btn>
            </h5>
            <b-collapse id="teste">
              <b-card>
                <img src="@/assets/Fusca_notica_1.jpg" alt="Fusca">
                <p>
                  Em 3 de janeiro de 1959, saíam da fábrica da Volkswagen em São Bernardo do Campo
                  (SP) as primeiras unidades do Fusca nacional. Naquela época, ele era conhecido
                  pelo nome de Sedan.
                </p>
                <p>
                  Durante as décadas seguintes, a Volkswagen produziria ainda outros 3,3 milhões
                  exemplares de um dos carros mais emblemáticos do país, carinhosamente chamado
                  também de Besouro.
                </p>
                <p>
                  O Fusca foi o primeiro grande sucesso da indústria automotiva brasileira.
                  Lançado no início de 1959, ele encerraria aquele ano como o carro mais vendido do país.
                </p>

                <b>Autor:</b> André Paixão
                <br>
                <b>Retirado:</b> g1.globo.com
              </b-card>
            </b-collapse>
          </div>
          <!-- Fim Historia 2 -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import MenuSuperior from '@/components/MenuSuperior.vue'

export default {
  name: 'Historia',
  components: {
    MenuSuperior
  }
}
</script>

<style scoped>
  h3{
    border-bottom: 2px solid;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  h5 {
    border-bottom: 1px solid;
    margin-top: 30px;
  }
  .btn-conteudo {
    color: #407F75;
    border-color: #6c757d;
    background-color: #FFF;
  }
  .btn-conteudo:hover {
    color: #FFF;
    background-color: #6c757d;
  }
  .col-12 {
    margin-bottom: 60px;
  }
  img {
    width: 220px;
    float: right;
    height: auto;
  }
</style>
