<template>
  <section>
    <menu-superior/>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="cor-principal">{{ titulo }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <card-texto
            :titulo="'Consulta FIPE'"
            :texto="'Realize consultas para descobrir a tabela FIPE do veículo'"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <card-texto
            :titulo="'História'"
            :texto="'Conheça a história do automóvel no Brasil'"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <card-texto
            :titulo="'Galeria'"
            :texto="'Navegue e encontre imagens impressionante de veículos no Brasil'"/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import MenuSuperior from '@/components/MenuSuperior.vue'
import CardTexto from '@/components/CardTexto.vue'

export default {
  name: 'Inicio',
  components: {
    MenuSuperior,
    CardTexto
  },
  data () {
    return {
      titulo: 'Encontre tudo sobre os carros no Brasil'
    }
  }
}
</script>

<style scoped>
  h3{
    border-bottom: 2px solid;
    padding-bottom: 10px;
    text-align: center;
  }
</style>
