<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
.cor-principal{
  color: #7f9e99;
}
.cor-forte{
  color: #407F75;
}
</style>
